body {
    background: red !important;
}

.register-section {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    background: #f8f9fa;
}

.register-box {
    background: white;
    width: 450px;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    text-align: center;
}

    .register-box h1 {
        color: #0A3D62;
        margin-bottom: 15px;
    }

    .register-box p {
        color: #555;
        margin-bottom: 30px;
    }

    .register-box form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .register-box input {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 10px;
        font-size: 16px;
    }

    .register-box button {
        padding: 15px;
        background: #2ECC71;
        color: white;
        border: none;
        border-radius: 50px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
    }

        .register-box button:hover {
            background: #0A3D62;
        }
